
.App {
  background-color: rgb(146, 176, 162);
  
  /* height: 100%; */

}

.header {
  font-size: 50px;
  text-align: center;
  font-family:'HomePlanetBB-Regular' ;
  padding-top: 1%;
  color: white;
}

.parent {
  display: flex;
  flex-wrap: wrap;
}
.child {
  flex: 1;
}
.right-section {
  text-align: center;
  flex:0.3;
  background-color: whitesmoke;
  border:solid 2px gray;
  height: auto;
  margin-right: 4%;
  margin-bottom: 3%;
  position: -webkit-sticky;
  position: sticky;
  top: 15%;
}

h4{
  font-family: 'HomePlanetBB-Regular';

}
.dropdown-parent {
  display: flex;
  flex-wrap: wrap;
  padding-right: 10%;
}

.dropdown-children {
  margin-left: 4%;
  margin-right: 4%;
  /* padding-left: 5%;
  padding-right: 5%; */

  justify-items: left;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.listPlacement {
  margin-top: 4%;
  margin-left: 3%;
  flex:7%;
}

.button-placement {
  margin-top: 4%;
}
